In [1]:
import pandas as pd

In [2]:
a = pd.Series([0.1,90,67,6.9],index=['A','B','C','D'])

In [3]:
a

A     0.1
B    90.0
C    67.0
D     6.9
dtype: float64

In [4]:
a.values

array([ 0.1, 90. , 67. ,  6.9])

In [5]:
a.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [6]:
a.ndim

1

In [7]:
type(a)

pandas.core.series.Series

In [8]:
type(a.values)

numpy.ndarray

In [9]:
type(a.index)

pandas.core.indexes.base.Index

In [10]:
a['A']

0.1

In [11]:
a['A':'C']

A     0.1
B    90.0
C    67.0
dtype: float64

In [12]:
a[0]

0.1

In [13]:
a[0:2]

A     0.1
B    90.0
dtype: float64

In [14]:
b = pd.Series({
    'A': 23,
    'B': 67,
    'C': 90,
    'D': 12
})

In [15]:
b

A    23
B    67
C    90
D    12
dtype: int64

In [16]:
b[b > 40]

B    67
C    90
dtype: int64

In [17]:
b[b.values > 40]

B    67
C    90
dtype: int64

In [18]:
#in pandas we deal with dictionaries
marks = {
    'A': 55,
    'B': 60,
    'C': 90,
    'D': 20
}
grades = {
    'A': 2.0,
    'B': 3.5,
    'C': 9.0,
    'D': 9.8
}

In [19]:
marks

{'A': 55, 'B': 60, 'C': 90, 'D': 20}

In [20]:
grades

{'A': 2.0, 'B': 3.5, 'C': 9.0, 'D': 9.8}

In [21]:
DF = pd.DataFrame({'Marks':marks,'Grades':grades})

In [22]:
DF

   Marks  Grades
A     55     2.0
B     60     3.5
C     90     9.0
D     20     9.8

In [23]:
DF.columns

Index(['Marks', 'Grades'], dtype='object')

In [24]:
DF['Marks']

A    55
B    60
C    90
D    20
Name: Marks, dtype: int64

In [25]:
DF['Gardes']

KeyError: 'Gardes'

In [26]:
DF['Grades']

A    2.0
B    3.5
C    9.0
D    9.8
Name: Grades, dtype: float64

In [27]:
DF['Others'] = {
    'A': 1,
    'B': 2,
    'C': 3,
    'D': 4
}

In [28]:
DF

   Marks  Grades Others
A     55     2.0      A
B     60     3.5      B
C     90     9.0      C
D     20     9.8      D

In [29]:
del D['Others']

NameError: name 'D' is not defined

In [30]:
del DF['Others']

In [31]:
DF

   Marks  Grades
A     55     2.0
B     60     3.5
C     90     9.0
D     20     9.8

In [32]:
DF.rows

AttributeError: 'DataFrame' object has no attribute 'rows'

In [33]:
DF[DF['Marks']>40]

   Marks  Grades
A     55     2.0
B     60     3.5
C     90     9.0

In [36]:
(60 in DF['Marks'])

False

In [37]:
DF['Marks'] > 40

A     True
B     True
C     True
D    False
Name: Marks, dtype: bool

In [40]:
x = pd.DataFrame([{
    'A': 1,
    'B': 2
},{
    'B': 3,
    'C': 4
}])

In [45]:
x

     A  B    C
0  1.0  2  NaN
1  NaN  3  4.0

In [46]:
x.fillna(0)

     A  B    C
0  1.0  2  0.0
1  0.0  3  4.0

In [47]:
x

     A  B    C
0  1.0  2  NaN
1  NaN  3  4.0

In [48]:
x.dropna

<bound method DataFrame.dropna of      A  B    C
0  1.0  2  NaN
1  NaN  3  4.0>

In [49]:
x

     A  B    C
0  1.0  2  NaN
1  NaN  3  4.0

In [50]:
#diff from #diff from 
a = pd.Series(['A','B','C','D'],index=[1,3,5,7])

In [51]:
a[1]

'A'

In [52]:
a[3]

'B'

In [53]:
a[2]

KeyError: 2

In [54]:
#works
a[1:3]

3    B
5    C
dtype: object

In [55]:
#but it is amogious, as mentioned index is also numeric and default indices are numeric
#we use loc,iloc
a.loc([1:3])

SyntaxError: invalid syntax (<ipython-input-55-b8cfde84840f>, line 3)

In [56]:
#first index is included as here first index goes from 1 not 0 
#loc is explicit indexing
a.loc[1:3]

1    A
3    B
dtype: object

In [57]:
#by default indexing
#iloc is implicit indexing
a.iloc[1:3]

3    B
5    C
dtype: object

In [58]:
#same as numpy
a.iloc[0:4]

1    A
3    B
5    C
7    D
dtype: object

In [59]:
a.iloc(1,:)

SyntaxError: invalid syntax (<ipython-input-59-62da28eddb7a>, line 1)

In [60]:
a.iloc[1,:]

IndexingError: Too many indexers

In [61]:
a.iloc[1,:]

IndexingError: Too many indexers

In [62]:
a.iloc[2]

'C'

In [63]:
a.iloc[0,:]

IndexingError: Too many indexers

In [64]:
a[1:]

3    B
5    C
7    D
dtype: object

In [65]:
D.iloc[1,:]

NameError: name 'D' is not defined

In [66]:
DF.iloc[1,:]

Marks     60.0
Grades     3.5
Name: B, dtype: float64

In [67]:
DF

   Marks  Grades
A     55     2.0
B     60     3.5
C     90     9.0
D     20     9.8

In [74]:
DF.iloc[0,0]

55

In [75]:
DF.iloc[0,1]

2.0

In [78]:
DF.iloc[1,:]

Marks     60.0
Grades     3.5
Name: B, dtype: float64

In [79]:
DF.iloc[:,0]

A    55
B    60
C    90
D    20
Name: Marks, dtype: int64

In [80]:
DF.iloc[:,1]

A    2.0
B    3.5
C    9.0
D    9.8
Name: Grades, dtype: float64